@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1357px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 1370px) {
  .container {
    max-width: 1150px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 950px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

.wrapper {
  overflow: hidden;
  max-width: 100vw;
  background-color: #f2f2f2;
}

.bg-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

path {
  fill: inherit;
  stroke: inherit;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 8px 15px 40px;
  background: #f2f2f2;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 46px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn span {
  color: #5748e4;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.btn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 28px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #5747e4;
}

.btn div svg {
  max-width: 100%;
  fill: #f2f2f2;
}

.btn:hover {
  -webkit-transform: translate(0, -5px) scale(1.05);
      -ms-transform: translate(0, -5px) scale(1.05);
          transform: translate(0, -5px) scale(1.05);
  background-color: #513cdc;
}

.btn:hover span {
  color: #fff;
}

.btn:hover div {
  background: #fff;
}

.btn:hover div svg {
  fill: #513cdc;
}

.title {
  font-weight: bold;
  font-size: calc(36px + 24 * ((100vw - 320px) / 1604));
  line-height: 121%;
  color: #181818;
}

.popup {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.8;
  -o-transition: 0.8;
  transition: 0.8;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.main-head {
  width: 100vw;
  background: -webkit-radial-gradient(120.08% 180.05% at 12.87% -29.14%, #6868fa 0%, #4524cb 99%);
  background: -o-radial-gradient(120.08% 180.05% at 12.87% -29.14%, #6868fa 0%, #4524cb 99%);
  background: radial-gradient(120.08% 180.05% at 12.87% -29.14%, #6868fa 0%, #4524cb 99%);
}

.main {
  position: relative;
  z-index: 3;
  padding: 10vh 0 0 0;
}

@media (max-width: 768px) {
  .main {
    padding: 10vh 10px 40px 10px;
  }
}

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__logo svg {
  fill: #f2f2f2;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f2f2f2;
  margin: 15vh 0 0 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 991px) {
  .main__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__items {
  color: #f2f2f2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.main__title {
  font-size: calc(24px + 36 * ((100vw - 320px) / 1604));
  line-height: 121%;
}

.main__title p {
  font-weight: bold;
}

.main__subtitle {
  font-size: calc(18px + 6 * ((100vw - 320px) / 1604));
  line-height: 116%;
  margin: 59px 0 0 0;
}

.main__buttons {
  margin: 40px 0 0 0;
}

@media (max-width: 500px) {
  .main__buttons {
    text-align: center;
  }
}

.main__btn-play {
  display: inline-block;
  margin: 0 0 0 32px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 500px) {
  .main__btn-play {
    display: block;
    margin: 30px 0 0 0;
  }
}

.main__btn-play span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #f2f2f2;
}

.main__btn-play div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 12px 0 0;
  -webkit-transform: translate(0, 3px);
      -ms-transform: translate(0, 3px);
          transform: translate(0, 3px);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #f2f2f2;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.main__btn-play div img {
  max-width: 100%;
  -webkit-transform: translate(3px, 0);
      -ms-transform: translate(3px, 0);
          transform: translate(3px, 0);
}

.main__btn-play:hover {
  -webkit-transform: translate(0, -5px) scale(1.05);
      -ms-transform: translate(0, -5px) scale(1.05);
          transform: translate(0, -5px) scale(1.05);
}

.main__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-transform: translate(18px, 0);
      -ms-transform: translate(18px, 0);
          transform: translate(18px, 0);
}

@media (max-width: 991px) {
  .main__img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    max-width: 50%;
  }
}

@media (max-width: 500px) {
  .main__img {
    display: none;
  }
}

.main__img img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

@media (max-width: 991px) {
  body._lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: absolute;
    top: calc(10vh + 15px);
    right: 80px;
    width: 30px;
    height: 20px;
    z-index: 10;
  }
}

@media (max-width: 991px) and (max-width: 768px) {
  .header__burger {
    right: 15px;
  }
}

@media (max-width: 991px) {
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .header__burger._active:before {
    content: "";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .header__burger._active:after {
    content: "";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
}

.header {
  background-color: #f2f2f2;
  margin: 25vh 0 4px 0;
  border-top: 45px solid #f2f2f2;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  padding: 0 0 45px 0;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
}

@media (max-width: 991px) {
  .header {
    display: none;
  }
}

.header__container {
  max-width: 930px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.header__menu {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 57px 0 0;
}

.header__search-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #482ad0;
  position: absolute;
  top: 0;
  right: -12px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__search-btn:hover {
  -webkit-transform: translate(0, -5px) scale(1.05);
      -ms-transform: translate(0, -5px) scale(1.05);
          transform: translate(0, -5px) scale(1.05);
}

.header__search-btn img {
  max-width: 100%;
}

.header__search-btn._disable {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.header__search {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 0;
  right: -136px;
  visibility: hidden;
}

.header__search input {
  width: 0;
}

.header__search._active {
  visibility: visible;
  display: inline-block;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__search._active input {
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
  width: 158px;
  height: 41px;
  background: #ffffff;
  border: 2px solid #482ad0;
  border-radius: 49px;
  padding: 0 0 0 32px;
}

.header__search._active button:after {
  content: url("../images/system_img/search-active.svg");
  position: absolute;
  top: 11px;
  left: 11px;
}

.menu__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu__link:hover {
  background-color: #513cdc;
}

.menu__link:hover li {
  color: #fff;
}

.menu__link li {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #201361;
}

.burger__menu {
  display: none;
}

@media (max-width: 991px) {
  .burger__menu {
    display: block;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #513cdc url("../images/system_img/bg-main-lines.svg") center/cover no-repeat;
    z-index: 5;
    padding: 10vh 60px;
    overflow: auto;
  }
  .burger__menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 25px 0 0 0;
  }
  .burger__menu .menu__link {
    padding: 10px;
  }
  .burger__menu .menu__link li {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #fff;
  }
  .burger__menu._active {
    top: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }
}

.solutions {
  padding: 145px 0 157px 0;
  background-color: #f2f2f2;
}

@media (max-width: 991px) {
  .solutions {
    padding: 50px 0;
  }
}

.solutions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  margin: 0 -50px;
}

@media (max-width: 1199px) {
  .solutions__wrapper {
    margin: 0 -25px;
  }
}

@media (max-width: 991px) {
  .solutions__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.solutions__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 50px 0 50px;
}

@media (max-width: 1199px) {
  .solutions__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
    padding: 0 25px 0 25px;
  }
}

.solutions__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 50px 0 50px;
}

@media (max-width: 1199px) {
  .solutions__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    padding: 0 25px 0 25px;
  }
}

@media (max-width: 991px) {
  .solutions__body {
    margin: 40px 0 0 0;
  }
}

.solutions__personal {
  margin: 150px 0 0 0;
}

@media (max-width: 991px) {
  .solutions__personal {
    margin: 60px 0 0 0;
  }
}

.items-solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items-solution__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .items-solution__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.items-solution__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items-solution__item {
  margin: 0 15px 30px 15px;
  padding: 20px 0 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  cursor: pointer;
}

.items-solution__item img {
  margin: 0 0 32px 0;
  width: 74px;
  height: 74px;
}

.items-solution__item p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.items-solution__item p:after {
  content: url("../images/system_img/solutions/Vector.svg");
  display: block;
  text-align: center;
  margin: 27px 0 0 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .items-solution__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px 0 16px 10px;
  }
  .items-solution__item img {
    display: inline-block;
    margin: 0 40px 0 0;
  }
}

@media (max-width: 768px) and (max-width: 404px) {
  .items-solution__item img {
    margin: 0 15px 0 0;
  }
}

@media (max-width: 768px) and (max-width: 356px) {
  .items-solution__item img {
    margin: 0 5px 0 0;
  }
}

@media (max-width: 768px) {
  .items-solution__item p:after {
    display: inline-block;
    margin: 0 0 0 40px;
  }
}

@media (max-width: 768px) and (max-width: 384px) {
  .items-solution__item p:after {
    margin: 0 0 0 15px;
  }
}

@media (max-width: 768px) and (max-width: 356px) {
  .items-solution__item p:after {
    margin: 0 0 0 5px;
  }
}

.items-solution__item:hover p:after {
  content: url("../../images/system_img/solutions/Vector-h.svg");
  -webkit-transform: translate(0, 2px);
      -ms-transform: translate(0, 2px);
          transform: translate(0, 2px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.items-solution__item--column {
  padding: 156px 0 103px 0;
}

.items-solution__item--column img {
  margin: 0 0 55px 0;
}

.items-solution__item--column p:before {
  margin: 0 0 55px 0;
}

.items-solution__item--column p:after {
  margin: 51px 0 0 0;
}

@media (max-width: 768px) {
  .items-solution__item--column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px 0 16px 10px;
  }
  .items-solution__item--column img {
    display: inline-block;
    margin: 0 40px 0 0;
  }
  .items-solution__item--column p:after {
    display: inline-block;
    margin: 0 0 0 40px;
  }
}

.items-solution__item--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px 0 16px 10px;
}

.items-solution__item--row img {
  display: inline-block;
  margin: 0 40px 0 0;
}

@media (max-width: 404px) {
  .items-solution__item--row img {
    margin: 0 15px 0 0;
  }
}

@media (max-width: 356px) {
  .items-solution__item--row img {
    margin: 0 5px 0 0;
  }
}

.items-solution__item--row p:after {
  display: inline-block;
  width: 17px;
  margin: 0 0 0 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 384px) {
  .items-solution__item--row p:after {
    margin: 0 0 0 15px;
  }
}

@media (max-width: 356px) {
  .items-solution__item--row p:after {
    margin: 0 0 0 15px;
  }
}

.body-solution__title {
  font-weight: bold;
  font-size: calc(42px + 18 * ((100vw - 320px) / 1604));
  line-height: 121%;
  color: #181818;
}

.body-solution__subtitle-black {
  font-size: 28px;
  line-height: 34px;
  color: #181818;
}

.body-solution__subtitile-blue {
  font-weight: bold;
  font-size: calc(28px + 12 * ((100vw - 320px) / 1604));
  line-height: 117%;
  color: #513cdc;
  margin: 45px 0 0 0;
}

.body-solution__text {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #181818;
  margin: 15px 0 0 0;
}

.personal-solution__title {
  font-weight: 300;
  font-size: calc(40px + 21 * ((100vw - 320px) / 1604));
  line-height: 123%;
  text-align: center;
  color: #181818;
}

.personal-solution__items {
  margin: 55px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  /* Стрелка влево */
  /* Стрелка вправо */
}

.personal-solution__items .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-solution__items .slick-arrow {
  display: block;
  font-size: 0;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.personal-solution__items .slick-arrow:after {
  content: url("../images/system_img/solutions/vector-h.svg");
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: scale(3);
      -ms-transform: scale(3);
          transform: scale(3);
}

.personal-solution__items .slick-arrow:hover {
  -webkit-transform: translate(0, -5px) scale(1.05);
      -ms-transform: translate(0, -5px) scale(1.05);
          transform: translate(0, -5px) scale(1.05);
}

.personal-solution__items .slick-arrow.slick-prev:after {
  -webkit-transform: rotate(180deg) scale(3);
      -ms-transform: rotate(180deg) scale(3);
          transform: rotate(180deg) scale(3);
}

.personal-solution__items .slick-arrow.slick-prev:after:hover {
  -webkit-transform: rotate(180deg) scale(3) translate(0, -5px) scale(1.05);
      -ms-transform: rotate(180deg) scale(3) translate(0, -5px) scale(1.05);
          transform: rotate(180deg) scale(3) translate(0, -5px) scale(1.05);
}

.personal-solution__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 84px;
          flex: 0 0 84px;
  margin: 0 30px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.personal-solution__img {
  width: 84px;
  height: 84px;
  background: #f2f2f2;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.personal-solution__img img {
  max-width: 100%;
}

.personal-solution__label {
  text-align: center;
  margin: 24px 0 0 0;
  width: 122px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #181818;
}

.block3 {
  background: #f2f2f2;
  padding: 100px 0 260px 0;
}

@media (max-width: 991px) {
  .block3 {
    padding: 40px 0 50px 0;
  }
}

.block3__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block3__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: right;
}

@media (max-width: 991px) {
  .block3__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }
}

.block3__title {
  margin: 0 0 90px 0;
}

@media (max-width: 768px) {
  .block3__title {
    margin: 0 0 40px 0;
  }
}

.block3__text {
  font-family: "Rubik", sans-serif;
  margin: 0 0 50px 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.block3__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-transform: translate(50px, 0);
      -ms-transform: translate(50px, 0);
          transform: translate(50px, 0);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.block3__img img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .block3__img {
    display: none;
  }
}

.cases {
  background-color: #f2f2f2;
  padding: 0 0 100px 0;
}

.cases__items {
  margin: 55px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 680px) {
  .cases__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px 10px;
  }
}

.cases__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
  width: 190px;
  height: 103px;
  margin: 0 15px 15px 15px;
  background: #f2f2f2;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cases__item:hover {
  -webkit-transform: translate(0, -5px) scale(1.05);
      -ms-transform: translate(0, -5px) scale(1.05);
          transform: translate(0, -5px) scale(1.05);
}

.cases__item._active {
  background: #513cdc;
}

.cases__item._active:hover {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.cases__item img {
  max-width: 100%;
}

.cases__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px -36px 0 -36px;
}

@media (max-width: 1199px) {
  .cases__content {
    margin: 100px -18px 0 -18px;
  }
}

@media (max-width: 680px) {
  .cases__content {
    margin: 40px -18px 0 -18px;
  }
}

.cases__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 36px;
}

@media (max-width: 1199px) {
  .cases__info {
    padding: 0 18px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

@media (max-width: 991px) {
  .cases__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.cases__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 36px;
}

@media (max-width: 1199px) {
  .cases__img {
    padding: 0 18px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media (max-width: 991px) {
  .cases__img {
    display: none;
  }
}

.cases__img img {
  max-width: 100%;
}

.item-info__subtitle {
  font-size: 24px;
  line-height: 29px;
  color: #513cdc;
}

.item-info__title {
  font-weight: bold;
  font-size: calc(32px + 16 * ((100vw - 320px) / 1604));
  line-height: 123%;
  color: #000000;
  margin: 15px 0 0 0;
}

.item-info__text {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 15px 0 0 0;
}

.item-info__checklist {
  margin: 60px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-info__check-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 30px 0;
  padding: 0 0 0 43px;
  background: url("../images/system_img/case-check.svg") left no-repeat;
}

@media (max-width: 500px) {
  .item-info__check-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.item-info__check-item span {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.video {
  background: url("../images/system_img/video/bg-video.png") center/cover no-repeat;
  padding: 108px 0 208px 0;
  position: relative;
}

.video:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #181818;
  opacity: 0.8;
}

.video__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  padding: 0 9vw;
}

@media (max-width: 1199px) {
  .video__wrapper {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .video__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.video__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

@media (max-width: 768px) {
  .video__body {
    text-align: center;
  }
}

.video__title {
  color: #ffffff;
  margin: 10px 0 0 0;
}

.video__text {
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
  margin: 10px 0 0 0;
}

.video__text:first-child {
  margin: 0;
}

.video__play {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: auto;
  width: 100px;
  height: 100px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .video__play {
    margin: 35px 0 0 0;
  }
}

.video__play:hover {
  -webkit-transform: translate(0, -5px) scale(1.05);
      -ms-transform: translate(0, -5px) scale(1.05);
          transform: translate(0, -5px) scale(1.05);
}

.reviews {
  position: relative;
  z-index: 3;
  margin: -100px 0 0 0;
}

.reviews__wrapper {
  padding: 59px 0 0 0;
  position: relative;
}

.reviews__wrapper:before {
  content: "";
  display: block;
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  background: #513cdc;
  border-radius: 26px;
  z-index: -1;
}

@media (max-width: 768px) {
  .reviews__wrapper:before {
    border-radius: 0;
  }
}

.reviews__title {
  color: #fff;
  text-align: center;
}

.reviews__items {
  margin: 60px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 38px 15px 38px;
  overflow-x: auto;
}

.reviews__item {
  margin: 0 38px;
}

.item-review {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 25px 15px 15px 15px;
  background: #f2f2f2;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-review__text {
  font-family: "Rubik", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #181818;
}

.item-review__person {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-review__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53px;
          flex: 0 0 53px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
}

.item-review__photo img {
  max-width: 100%;
}

.item-review__info {
  margin: 0 0 0 13px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item-review__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #181818;
}

.item-review__position {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #181818;
}

.rates {
  margin: 10px 0 0 0;
  padding: 150px 0 0 0;
}

@media (max-width: 768px) {
  .rates {
    padding: 60px 0 0 0;
  }
}

.rates__wrapper {
  padding: 0 100px 0 10px;
}

@media (max-width: 1199px) {
  .rates__wrapper {
    padding: 0 10px 0 10px;
  }
}

.rates__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 550px) {
  .rates__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .rates__selector {
    margin: 40px 0 0 0;
  }
}

.rates__items {
  margin: 100px 0 0 0;
  padding: 0 0 15px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .rates__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 15px 0;
  }
}

@media (max-width: 768px) {
  .rates__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.rates__item {
  margin: 0 40px;
}

.rates__item:first-child {
  margin: 0 40px 0 0;
}

.rates__item:last-child {
  margin: 0 0 0 40px;
}

@media (max-width: 991px) {
  .rates__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .rates__item:first-child {
    margin: 0 0 0 0;
  }
  .rates__item:last-child {
    margin: 40px 0 0 0;
  }
}

@media (max-width: 991px) {
  .rates__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 40px 0 0 0;
  }
  .rates__item:first-child {
    margin: 0 0 0 0;
  }
  .rates__item:last-child {
    margin: 40px 0 0 0;
  }
}

.selector-rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #513cdc;
  padding: 13px 21px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 46px;
}

.selector-rates__item {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.selector-rates__item:hover {
  -webkit-transform: translate(0, -5px) scale(1.05);
      -ms-transform: translate(0, -5px) scale(1.05);
          transform: translate(0, -5px) scale(1.05);
}

.selector-rates__item._active {
  color: #5748e4;
  background-color: #fff;
  border-radius: 46px;
}

.selector-rates__item._active:hover {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.item-rate {
  padding: 36px 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.item-rate__img img {
  max-width: 100%;
}

.item-rate__title {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.item-rate__cost {
  margin: 30px 0 0 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.item-rate__rub {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.item-rate__text {
  font-family: "Rubik", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 25px 0 0 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #181818;
}

.item-rate__btn {
  margin: 25px 0 0 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 10px 40px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 46px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.item-rate__btn--startup {
  background: #513cdc;
}

.item-rate__btn--medium {
  background: -webkit-gradient(linear, left top, left bottom, from(#fe3c45), to(#e93039));
  background: -webkit-linear-gradient(top, #fe3c45 0%, #e93039 100%);
  background: -o-linear-gradient(top, #fe3c45 0%, #e93039 100%);
  background: linear-gradient(180deg, #fe3c45 0%, #e93039 100%);
}

.item-rate__btn--expert {
  background: #181818;
}

.item-rate__btn:hover {
  -webkit-transform: translate(0, -5px) scale(1.05);
      -ms-transform: translate(0, -5px) scale(1.05);
          transform: translate(0, -5px) scale(1.05);
}

.answer {
  padding: 180px 0 15px 0;
}

@media (max-width: 768px) {
  .answer {
    padding: 60px 0 15px 0;
  }
}

.answer__title {
  text-align: right;
}

.answer__wrapper {
  margin: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .answer__wrapper {
    margin: 50px 0 0 0;
  }
}

.answer__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 88px;
}

@media (max-width: 768px) {
  .answer__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-right: 0;
  }
}

.answer__item {
  margin: 35px 0 0 0;
  padding: 20px 30px;
}

.answer__item:first-child {
  margin: 0 0 0 0;
}

.answer__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.answer__img img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .answer__img {
    display: none;
  }
}

.item-answer {
  background: #f2f2f2;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.item-answer__title {
  cursor: pointer;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  position: relative;
}

.item-answer__title:before {
  content: url("../images/system_img/Vector-answer.svg");
  position: absolute;
  top: 3px;
  right: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.item-answer__title:after {
  display: none;
}

.item-answer__title._active:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgba(229, 229, 229, 0.8);
  margin: 14px 0 0 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.item-answer__title._active:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.item-answer__text {
  font-family: "Rubik", sans-serif;
  padding: 26px 0 0 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #181818;
  display: none;
}

.phone {
  padding: 220px 0 180px 0;
}

@media (max-width: 768px) {
  .phone {
    padding: 80px 0 60px 0;
  }
}

.phone__container {
  max-width: 884px;
  margin: 0 auto;
  padding: 58px 68px 64px 68px;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  position: relative;
  background: #513cdc;
  color: #ffffff;
  border-radius: 15px;
}

@media (max-width: 1199px) {
  .phone__container {
    max-width: 784px;
  }
}

@media (max-width: 768px) {
  .phone__container {
    padding: 58px 15px 64px 15px;
  }
}

.phone__container:before {
  content: url("../../images/system_img/bg-call.svg");
  display: block;
  position: absolute;
  top: -10%;
  left: -15%;
  z-index: 1;
}

@media (max-width: 1199px) {
  .phone__container:before {
    left: -10%;
  }
}

@media (max-width: 991px) {
  .phone__container:before {
    display: none;
  }
}

.phone__body {
  position: relative;
  max-width: 80%;
  z-index: 2;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .phone__body {
    max-width: 70%;
  }
}

@media (max-width: 991px) {
  .phone__body {
    max-width: 100%;
    margin: 0;
  }
}

.phone__title {
  font-weight: 300;
}

.phone__text {
  margin: 21px 0 0 0;
  font-weight: bold;
}

.phone__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 0 0;
  padding: 18px 62px 18px 32px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 46px;
  background: #fff url("../images/system_img/phone-call.svg") 205px 13px no-repeat;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.phone__btn:hover {
  -webkit-transform: translate(0, -5px) scale(1.05);
      -ms-transform: translate(0, -5px) scale(1.05);
          transform: translate(0, -5px) scale(1.05);
}

.phone__btn span {
  font-weight: bold;
  font-size: 18px;
  line-height: 187.4%;
  color: #181818;
}

.footer {
  background-color: #513cdc;
  padding: 60px 10px 20px 10px;
  color: #ffffff;
}

@media (max-width: 991px) {
  .footer {
    padding: 30px 10px 20px 10px;
  }
}

.footer a {
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer a:hover {
  -webkit-transform: translate(0, -5px) scale(1.05);
      -ms-transform: translate(0, -5px) scale(1.05);
          transform: translate(0, -5px) scale(1.05);
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -59px;
}

@media (max-width: 1199px) {
  .footer__items {
    margin: 0 -25px;
  }
}

@media (max-width: 991px) {
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 59px;
}

@media (max-width: 1199px) {
  .footer__column {
    padding: 0 25px;
  }
}

@media (max-width: 991px) {
  .footer__column {
    margin: 0 0 25px 0;
  }
  .footer__column:last-child {
    margin: 0;
  }
}

.footer__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin: 0 0 23px 0;
}

.footer__confid {
  margin: 55px auto 0 auto;
  width: 260px;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 14px 0;
  line-height: 22px;
}

.contacts__item:last-child {
  margin: 0;
}

.contacts__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28px;
          flex: 0 0 28px;
  margin: 0 12px 0 0;
}

.contacts__img img {
  max-width: 100%;
}

.instagram-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 300px;
}

.instagram-footer__img {
  width: 60px;
  height: 60px;
  margin: 0 22px 8px 0;
}

.instagram-footer__img img {
  width: 100%;
  height: 100%;
}
