.phone {
	padding: 220px 0 180px 0;

	@media (max-width: $xs) {
		padding: 80px 0 60px 0;
	}
	&__container {
		max-width: 884px;
		margin: 0 auto;
		padding: 58px 68px 64px 68px;
		font-size: 34px;
		line-height: 41px;

		text-align: center;
		position: relative;
		background: $main;
		color: #ffffff;
		border-radius: 15px;
		@media (max-width: $md) {
			max-width: 784px;
		}

		@media (max-width: $xs) {
			padding: 58px 15px 64px 15px;
		}

		&:before {
			content: url("../../images/system_img/bg-call.svg");
			display: block;
			position: absolute;
			top: -10%;
			left: -15%;

			z-index: 1;

			@media (max-width: $md) {
				left: -10%;
			}

			@media (max-width: $sm) {
				display: none;
			}
		}
	}

	&__body {
		position: relative;
		max-width: 80%;
		z-index: 2;
		margin: 0 0 0 auto;
		@media (max-width: $md) {
			max-width: 70%;
		}

		@media (max-width: $sm) {
			max-width: 100%;
			margin: 0;
		}
	}

	&__title {
		font-weight: 300;
	}

	&__text {
		margin: 21px 0 0 0;
		font-weight: bold;
	}

	&__btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 50px 0 0 0;
		padding: 18px 62px 18px 32px;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		border-radius: 46px;
		background: #fff url("../images/system_img/phone-call.svg") 205px 13px no-repeat;

		transition: 0.3s;

		&:hover {
			transform: translate(0, -5px) scale(1.05);
		}
		span {
			font-weight: bold;
			font-size: 18px;
			line-height: 187.4%;
			color: #181818;
		}
	}
}
