// Обнуление
@import "reset";

// Подключение шрифтов
@import "fonts";

// Миксины

// Адаптивный шрифт
// Указать величину шрифта на минимальном экране и на макетном размере
$maxWidth: 1280;
@mixin adaptive-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

$main: #513cdc;

$lg: 1370px;
$md: 1199px;
$sm: 991px;
$xs: 768px;

// Общие стили
html {
}

body {
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
}

.container {
	max-width: 1357px;
	margin: 0 auto;

	@media (max-width: $lg) {
		max-width: 1150px;
	}
	@media (max-width: $md) {
		max-width: 950px;
	}
}

.wrapper {
	overflow: hidden;
}

// Подключение общих блоков
@import "blocks";

// Header
@import "header";

// Footer
@import "footer";
